/*****************************************************************************/
/* MapDemoIndex: Style */
/*****************************************************************************/
.map-canvas {
    width: 100%;
    height: 300px;
}
#address {
    width: 100%;
}